{{#each blogs as |blog|}}
  <a href='/blog/{{blog.Id}}' class='blog-tile'>
    <main class='blog-tile-body'>
      <h3>
        {{blog.title}}
      </h3>
      <p>Posted: {{format_date blog.createdAt}}</p>
    </main>
  </a>
{{/each}}