<div class='blog-card'>
  <header class='blog-card-header'>
    <h2>
      New Blog
    </h2>
  </header>
  <main class='blog-card-body'>
    <label for='new-blog-title' class='new-blog-label'><h3>New Blog Title:
      </h3></label>
    <input type='text' id='new-blog-title' placeholder='Title' />
    <label for='new-blog-contents' class='new-blog-label'><p>Contents:
      </p></label>
    <textarea id='new-blog-contents' placeholder='New Blog'></textarea>
  </main>
</div>
<div class='button-field'>
  <button id='new-blog-btn'>+ Create +</button>
</div>
<script src='/js/create-blog.js'></script>